* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.content {
  position: relative;
}
.content h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 15em;
}
.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 3px #333;
  filter: blur(3px);
}
.content h2:nth-child(3) {
  color: #fff6;
  filter: drop-shadow(0 15px 15px #fff);
  z-index: 1;
}
