* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(37, 37, 37);
}
.content {
  height: 400px;
  width: 300px;
  background: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.content::before {
  content: "";
  height: 140%;
  width: 180px;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 20px rgb(8, 8, 8);
  animation: animate 4s linear infinite;
}
.content::after {
  content: "";
  inset: 10px;
  border-radius: 16px;
  position: absolute;
  background: rgb(37, 37, 37);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
